
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;600;700;800&amp;family=Inter:wght@400;600;700&amp;display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&amp;display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



html,
body {
    width: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: 'Sora', sans-serif;
    background-color: #f8f9fa;
} 

@layer utilities {
    .custom-scrollbar::-webkit-scrollbar {
        width: 6px;
    }
    .custom-scrollbar::-webkit-scrollbar-track {
        background: transparent;
    }
    .custom-scrollbar::-webkit-scrollbar-thumb {
        background: #e1e3e4;
        border-radius: 10px;
    }
    .resume-shadow {
        box-shadow: 0 10px 30px rgba(0,0,0,0.04);
    }
    .material-symbols-outlined {
        font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    }
    .tab-active {
        border-bottom: 2px solid #5b21b6;
        color: #5b21b6;
    }
  .flex-center {
    @apply flex justify-center items-center;
  }
  .logo{
    @apply w-[60px] h-[60px]
          
  }
  .glass-card {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(24px);
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 4px 24px -1px rgba(0, 0, 0, 0.05);
}
.glow-violet {
    box-shadow: 0 20px 40px -15px rgba(66, 0, 147, 0.1);
}
.gradient-button {
    background: linear-gradient(90deg, #713dcc 0%, #ffb0cd 100%);
}
.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
  
.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
.resume-preview-canvas {
    aspect-ratio: 1 / 1.4142;
}
.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #cbc3d7;
    border-radius: 10px;
}
.secondTempFont{
        font-family: "Quicksand", sans-serif;
}
  
}



