
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



html,
body {
    width: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: "Quicksand", sans-serif;
} 

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .logo{
    @apply w-[60px] h-[60px]
          
  }
  
  
}

@layer components {
  main {
        @apply w-full overflow-x-hidden;
    }

    nav {
        @apply pt-0 mt-0 fixed z-50 w-full;

        .div-main {
            @apply flex md:flex-row flex-col md:justify-between items-center gap-5 py-5 lg:px-0 px-5 container mx-auto;
        }

        span {
            @apply  text-white  text-3xl -mb-2;
        }

        a {
            @apply cursor-pointer  text-nowrap md:text-base text-sm;
        }

        ul {
            @apply flex-center lg:gap-12 gap-7;

            
        }
    }

    #hero {
      @apply relative min-h-screen overflow-hidden bg-[url('/images/bg-hero.jpeg')] bg-cover bg-center bg-no-repeat;

    }
      .tomato-left{
        @apply absolute -left-28 md:top-20 xl:top-56 2xl:top-52 md:bottom-auto -bottom-20 md:w-[200px] w-1/3;
  }
  .lime-right {
            @apply absolute -right-28 md:bottom-0 xl:top-0 2xl:top-12 top-1/2 md:w-[250px] w-24;
        }

    
    .nav-buttonA{
      @apply rounded-full px-3 py-2  text-white text-sm ms-2 bg-black/20 shadow-lg;
     }
    .nav-buttonB{
      @apply rounded-full px-3 py-2  text-black text-sm ms-2 bg-white shadow-lg ;
     }

     .hero-title{
      @apply text-4xl md:text-6xl font-extrabold text-[#412B6B] leading-tight;
     }
     .hero-para{
      @apply mt-6 text-lg md:text-xl text-black/60 text-wrap opacity-80;
     }
     .hero-btn{
      @apply mt-10 px-10 py-4 rounded-full text-lg font-semibold text-white
               bg-purple-700
               shadow-2xl bg-gradient-to-b from-white/40 to-blue-700/40 
                ;
     }
}